/* heder colors
text h #212121
text hover #2196F3
contacts #757575

/* hero colors */
/* text -#FFFFFF
button-hover: #188CE8
button-#2196F3
bg-#2F303A
bg team #F5F4FA */

/* footer colors */
/* contacts rgba(255,255,255,0.6)
bg #2F303A */

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --light-color: #ffffff;
  --style-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --btn-hover: #188ce8;
  --primery-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Общие стили */
.link {
  text-decoration: none;
  transition: color var(--anim);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Контейнеры */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Сброс */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* Хедер */



/* Герой */


/* Преимущества */




/* Виды деятельности */


/* Команда */





/* Клиенты */



/* Футер */



/* Адресс */

/* Присоединяйтесь */



/* Форма подписки */


/* Модальное окно */





/* Портфолио */

/* Фильтр */



/* Проекты */
